<div class="card shadow-hover mb-3">
  <div class="card-header bg-light text-dark">
    <p class="card-title float-left">Social Account</p>
    <span class="fa fa-user float-right"></span>
    <div class="clearfix"></div>
  </div>
  <div class="card-body">

    <ul class="card_list text-secondary">
      <li><span class="fab fa-telegram"></span>
        <a href="https://t.me/cahgentoo">@cahgentoo</a>
      </li>
      <li><span class="fab fa-google-plus"></span>
        <a href="https://plus.google.com/+epsinurwijayadi">+epsinurwijayadi</a>
      </li>
      <li><span class="fab fa-deviantart"></span>
        <a href="http://nurwijayadi.deviantart.com/">nurwijayadi</a>
      </li>
      <li><span class="fab fa-github"></span>
        <a href="https://github.com/epsi-rns">epsi-rns</a>
      </li>
      <li><span class="fab fa-gitlab"></span>
        <a href="https://gitlab.com/epsi-rns">epsi-rns</a>
      </li>
      <li><span class="fab fa-bitbucket"></span>
        <a href="https://bitbucket.org/epsi">epsi</a>
      </li>
    </ul>


  </div>
</div>
