
{% if page.author %}
  <meta name="author"      content="{{ page.author }}">
{% endif %}  

{% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_html }}">
{% else %}
  <meta name="description" content="{{ site.description | strip }}">
{% endif %}

{% capture spaceless %}
  {% assign cats  = '' | split: '' %}
  {% assign tags  = '' | split: '' %}
  {% assign words = '' | split: '' %}
  {% assign terms = '' | split: '' %}

  {% if page.categories  %}
    {% assign cats = page.categories %}
  {% endif %}
  
  {% if page.tags  %}
    {% assign tags = page.tags %}
  {% endif %}

  {% if page.keywords  %}
    {% assign words = page.keywords %}
  {% endif %}
  
  {% assign terms = cats | concat: tags  | concat: words %}
  {% assign termssize = terms | size %}
{% endcapture %}

{% if termssize != 0 %}
  <meta name="keywords"    content="{{ terms | join: ", " }}">
{% endif %}
