@import "_pagination";
@import "_stripes";
@import "_navbar";
@import "_list";
@import "_calendar";
@import "_bootstrap_override";

// Breakpoint variables

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
//    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

h1, h2 {
  font-weight: bold;
}


#sitedesc-image {
    width: 354px;
    height: 60px;
    max-width: 100%; 
//  max-height: 16.95%;
    background: transparent url(/assets/site/images/yaosb.png) no-repeat left top;
    background-size: 100% auto;
    float: none;
    margin: 0 auto;  
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
}

.highlight {
  pre {
    background-color: transparent; 
    border: 1px solid $brand-primary;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2); 
  }

  pre:hover {
    background-color: #eee;
    border: 1px solid $yellow-makara;    
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);  
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);     
  }
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}






/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
//            fill: $grey-color;
        }
    }
}


// Epsi


body {
//  http://www.designbolts.com/2012/12/22/50-free-simple-white-seamless-patterns-for-website-backgrounds/
    background-image: url("../images/subtle-tile.jpg");
}


.post-title {
  padding: 1px 15px;
  margin: 0px;
  border-radius: 10px;  
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
  background: rgba(256, 256, 256, 0.5);
}

.center-block {float: none !important}

a {
    word-wrap: break-word;
}
div.post-meta {
  border: 1px solid #666666;
  border-width: 1px 0;
}  


// ---------------------------------------------------------------------
// components

// ---------------------------------------------------------------------
// Components: Tags

.archive-year,
.tag-word {
    font-weight: bold;
}

// Tag label background color

ul#tags a { display: inline; }

div.post-tags {
  text-align: right;
}  

.tag-post-item,
.post-item,
.post-header {
    @extend %vertical-rhythm;
}

.tag-post-item {
  border-bottom: 1px solid #666666;
}

#tags a:hover {
  color: white;
}        

.panel a span.label-tag {
  font-weight: normal;
}

a span.label-tag {
    background-color: #eee;
    color: $monad-blue;
    span.fa-tag,
    span.tag-count {
        color: $gray;
        vertical-align: super;
        font-size: smaller;  
    }
}

a:hover span.label-tag {
    background-color: $brand-primary;
    color: white;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5); 
}

.post-meta #tags {
   .label-tag {
      padding-bottom: .0em;
    }
}

.post-list {
  .post-item {
    .label-tag {
      padding-bottom: .1em;
    }
  }
}






// ---------------------------------------------------------------------
// _layout

// page.html, post.html

.maxwidth {
   margin-right: auto;
   margin-left: auto;
   max-width: 1366px; /* or 1360px */
}


// post.html

.post-author {
    margin-left: 20px;
}

// footer.html

.site-owner {
    text-align: center;
}

.post-title {
  a { 
    color: $brand-primary;
  }
  a:hover { 
    color: $monad-blue;
  }
  
}


// section box

.sectionbox {
  border: 1px solid transparent;
  border-radius: 7px;  
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
  display: inline-block;
  margin-bottom: $spacing-unit / 2;  
}

.sectionbox:hover {
  @include box-shadow(1px 2px 2px rgba(0,0,0,.2));
}

.sectionbox-heading {
  padding: 0px 15px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-color: $brand-primary;
  color: white;
}

.sectionbox:hover .sectionbox-heading {
  background-color:  darken($brand-primary, 10%);
}

.sectionbox-body {
  padding: 0px 15px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;  
  background-color: #eee;  
}

.sectionbox ul {
  margin-bottom: 0;
}


// ---------------------------------------------------------------------
// pages

// tags.html

.anchor-target {
  padding-top: 70px; 
  margin-top: -70px;
} 

// pages/index.html
// using bootstrap color

.post-list {
  .post-item {
    a {
      text-color: $brand-primary;
    }
  }
}

.read-more a:after {
    content: " »"
} 
// ---------------------------------------------------------------------
// 

.well {
  blockquote {
    border-left-color: $monad-blue;
  }

  blockquote:hover {
    border-left-color: $yellow-makara;
    background-color: $monad-blue;
    color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);  
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);     
  }
  
  blockquote:hover a { color: $yellow-makara }
}


// ---------------------------------------------------------------------
// 

time span {
  text-decoration: underline dotted;
}

