/*--calendar-icon--*/

.calendar {
    float: right;
    margin-right: 6px;
    width: 42px;
    height: 42px;
    margin-top: 15px;
}

.calendar-day {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    width: 42px;
    text-align:center;
    padding-top: 14px;
}

.calendar-icon-01 { background: url(../images/calendar/01.gif); }
.calendar-icon-02 { background: url(../images/calendar/02.gif); }
.calendar-icon-03 { background: url(../images/calendar/03.gif); }
.calendar-icon-04 { background: url(../images/calendar/04.gif); }
.calendar-icon-05 { background: url(../images/calendar/05.gif); }
.calendar-icon-06 { background: url(../images/calendar/06.gif); }
.calendar-icon-07 { background: url(../images/calendar/07.gif); }
.calendar-icon-08 { background: url(../images/calendar/08.gif); }
.calendar-icon-09 { background: url(../images/calendar/09.gif); }
.calendar-icon-10 { background: url(../images/calendar/10.gif); }
.calendar-icon-11 { background: url(../images/calendar/11.gif); }
.calendar-icon-12 { background: url(../images/calendar/12.gif); }
