// ---------------------------------------------------------------------

// main.scss

// Dark epsi

$text-color:       #efefef;
$background-color: #2d2d2d;
$brand-color:      #c90c25;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$yellow-makara:    #f7d316;
$monad-blue:       #2980b9;

// pagination
$pages-item-background:   $background-color;
$pages-item-color:        $text-color;
$pages-item-active:       $yellow-makara;
$pages-item-active-color: black;
$pages-item-hover:        $monad-blue;
$pages-item-link-color:   $yellow-makara;

.well {
    background-color: #393939;
    border: 1px solid $yellow-makara;  
}

.btn:hover,
.btn:focus {
    color: $monad-blue;
}

.highlight pre { 
    background-color: transparent; 
    color: #f8f8f2;
//    border: 1px solid $yellow-makara;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);    
}

a {
    color: #f7d316;
}


form#site_search {
  input {
    color: black;
    background-color: white;
  }
  
  input[type="button"] {
    background-color: buttonface;
  }
}  

span.tag-count {
    color: $yellow-makara;
    vertical-align: super;
    font-size: smaller;  
}

span.fa-tag {
    color: $yellow-makara;
}
