// ---------------------------------------------------------------------
// chunk/page-sidebar.html, chunk/post-sidebar.html, 
// panel/archive;

li.even {
  background-color: #fff;
}

li.odd {
  background-color: #eee;
}

ul li.list-month,
ul li.list-content {
    @include list-unstyled;
    margin-left: 20px;
}

ul.recent-post li a:hover,
ul li.list-content:hover {
    background: #ffff00;
}

.panel {
  ul.recent-post,
  ul li.list-content {
    font-size: ceil(($font-size-base * 0.85)); // ~12px
  }  
  ul li.list-content {
    margin-left: 0px;  
  }
}

ul.archive-month,
ul.archive-item,
ul.recent-post {
  padding: 0px;
}

ul#search_results,
ul.recent-post {    
    @include list-unstyled;
    margin-left: 20px;    
}

ul li.list-month:before,
ul li.list-content:before,
ul#search_results li:before,
ul.recent-post li:before {    
    font-family: 'FontAwesome';
    margin: 0 5px 0 -20px;
}

ul li.list-content:before,
ul#search_results li:before,
ul.recent-post li:before {
    content: '\f054';
    color: $gray-dark;
}

ul li.list-month:before {
    content: '\f073';
    color: $gray-base;    
}

ul li.list-content:hover:before,
ul#search_results li:hover:before,
ul.recent-post li:hover:before {    
    color: $yellow-makara;
}
