{% capture spaceless %}
  {% assign terms = site.categories %}
  {% assign term_array = "" | split: "|" %}
  {% for tag in terms %}
    {% assign term_first = tag | first %}
    {% assign term_array = term_array | push: term_first %}
  {% endfor %}
{% endcapture %}


  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header pink lighten-4">

      <strong>Articles Counts</strong>
      <span class="fa fa-user is-pulled-right"></span>

    </div>
    <div class="widget-body pink lighten-5">

<nav class="level">
  {% for item in (0..terms.size) %}{% unless forloop.last %}
    {% assign this_word = term_array[item] | strip_newlines %}
      {{ $posts := where $value.Pages "Type" "post" }}
      {{ $postCount := len $posts -}}
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{{ this_word }}</p>
      <p class="title numerator"
         data-number="{{ terms[this_word].size }}"
        >{{ terms[this_word].size }}</p>
    </div>
  </div>
  {% endunless %}{% endfor %}
</nav>

    </div>
  </div>
