
  <div class="white hoverable p-t-5 p-b-5">
    <div class="widget-header blue lighten-4">

      <strong>Table of Content</strong>
      <span class="fa fa-archive is-pulled-right"></span>

    </div>
    <div class="widget-body blue lighten-5">

      <ul class="widget-list">
        <li><a href="{{ "/lyric/2015/07/15/eurythmics-sweet-dreams.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Marilyn Manson - Sweet Dreams</a></li>
        <li><a href="{{ "/lyric/2015/07/25/marylin-manson-redeemer.html"
                    | prepend: site.baseurl | prepend: site.url }}"
              >Marilyn Manson - Redeemer</a></li>
      </ul>

    </div>
  </div>
