<section id="archive">
{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% for year in postsByYear %}
    {% capture spaceless %}
      {% assign current_year = 'now' | date: '%Y' %}
      {% assign year_text = nil %}

      {% if year.name == current_year %}
        {% assign year_text = year.name | prepend: "This year's posts (" | append: ')' %}
      {% else %}
        {% assign year_text = year.name %}
      {% endif %}
    {% endcapture %} 

    <div class ="anchor-target archive-year" 
         id="{{ year.name }}">{{ year_text }}</div>

    <ul class="archive-month">
      {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%m'" | sort: 'name' | reverse %}
      {% for month in postsByMonth %}
      <li class="list-month">

        {% for post in month.items limit:1 %}
        <span class ="anchor-target archive-month" 
              id="{{ post.date | date: '%Y-%m' }}">
              {{ post.date | date: '%b - %Y' }}</span>
        {% endfor %}

          <ul class="archive-item">
          {% for post in month.items %}
          <li class="list-content">
            <time class="float-right">{{ post.date | date:"%d %b" }}&nbsp;
            <span class="fas fa-calendar"></span></time>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
          </li>
          {% endfor %}
          </ul>
      </li>
      {% endfor %}
    </ul>
{% endfor %}
</section>
