<section id="archive">
{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
{% for year in postsByYear %}
    {% capture spaceless %}
      {% assign current_year = 'now' | date: '%Y' %}
      {% assign year_text = nil %}

      {% if year.name == current_year %}
        {% assign year_text = year.name | prepend: "This year's posts (" | append: ')' %}
      {% else %}
        {% assign year_text = year.name %}
      {% endif %}
    {% endcapture %} 

    <div class ="anchor-target archive-year" 
         id="{{ year.name }}">{{ year_text }}</div>

    <ul class="archive-item">
      {% for post in year.items %}
      <li class="list-content">
        <time class="float-right">{{ post.date | date:"%d %b" }}&nbsp;
        <span class="fa fa-calendar"></span></time>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
{% endfor %}
</section>
