
                <div class="well">

  <h3>Recent Posts</h3>
  <ul class="recent-post list-unstyled">
    {% for post in site.posts limit:5 %}
    <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
                </div>
             
  {% if site.google_adsense %}
  {% include google-adsense.html %} 
  {% endif %}
                
                <div class="well">

  <h3>Tags</h3>
  <div id="tags">
    {% for tag in site.tags %}      
      <a href="{{ site.baseurl }}/pages/tag#{{ tag[0] }}">
          <span class="badge"><span class="fa fa-tag"></span> {{ tag[0] }}</span>
      </a>&nbsp;
    {% endfor %}
  </div>

                </div>
                <!-- /well -->
