<footer class="site-footer">

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
    <h4 class="footer-heading">{{ site.title }}</h4>

    <div class="footer-col-wrapper">

      <div class="col-lg-4">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-lg-3">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-lg-5">
        <p>{{ site.description }}</p>
      </div>

    </div>
    </div>
</div>

</footer>
