<header class="site-header">
</header>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% comment %}
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
        {% endcomment %}
        
        {% for link in site.data.navigation %}
          {% if link.url contains 'http' %}
             {% assign domain = '' %}
          {% else %}
             {% assign domain = site.url %}
          {% endif %}
          <li><a class="page-link" href="{{ domain }}{{ link.url }}" 
            {% if link.url contains 'http' %}target="_blank"{% endif %}
          >{{ link.title }}</a></li>
        {% endfor %}        
        
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control col-lg-8" placeholder="Search...">
        </form>
        
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

  {% include yandex-metrica.html %}
