{% unless page.related_link_ids == nil 
   or page.related_link_ids == empty %}

  {% capture widget_header %}
  <strong>Related Posts</strong>
  <span class="fa fa-link is-pulled-right"></span>
  {% endcapture %}

  {% capture widget_body %}
  <ul class="widget-list">
    {% for link_id in page.related_link_ids %}
    <li>
      {% for dpost in site.data.archives %}
      {% if dpost.id == link_id %}
        <a href="{{ site.baseurl }}{{ dpost.url }}"
           class="hvr-underline-from-left"
          >{{ dpost.title }}</a>
      {% endif %}
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
  {% endcapture %}

  {% assign color = "lime" %}
  {% include template/widget.html %}
{% endunless %}
