{% capture spaceless %}
  {% if page.paginate_root == nil %}
    {% assign paginate_root = "/" %}
  {% else %}    
    {% assign paginate_root = page.paginate_root %}
  {% endif %}

  {% assign total_pages = paginator.total_pages %}
  {% assign page_number = paginator.page %}
{% endcapture %}

<nav aria-label="Page navigation">

  {{ if total_pages > 1 }}
  <ul class="pagination justify-content-center">

    <!-- Previous Page. -->
    {% if paginator.previous_page %}
      <li class="page-item blog_previous">
        <a class="page-link" 
           href="{{ site.baseurl }}{{ paginator.previous_page_path }}"
           rel="prev">&laquo;</a>
      </li>
    {% else %}
      <li class="page-item blog_previous disabled">
        <span class="page-link">&laquo;</span>
      </li>
    {% endif %}

    <!-- Page numbers. -->
    {% for page in (1..total_pages) %}
    <li class="page-item {% if page == page_number %} active{% endif %}">
      {% if page == page_number %} 
        <span class="page-link">
          {{ page }}
        </span>
      {% elsif page == 1 %}
        <a class="page-link"
           href="{{ site.baseurl }}{{ paginate_root }}"
         >1</a>
      {% else %}
        <a class="page-link"
           href="{{ site.paginate_path | relative_url | replace: ':num', page }}"
         >{{ page }}
        </a>
      {% endif %}
    </li>
    {% endfor %}

    <!-- Next Page. -->
    {% if paginator.next_page %}
      <li class="page-item blog_next">
        <a class="page-link" 
           href="{{ site.baseurl }}{{ paginator.next_page_path }}" 
           rel="next">&raquo;</a>
      </li>
    {% else %}
      <li class="page-item blog_next disabled">
        <span class="page-link">&raquo;</span>
      </li>
    {% endif %}
  </ul>
  {{ end }}

</nav>


