body, main-content.rounded-box {
    background-image: url("../images/funky-lines.png");
}

h1, h2 {
  font-weight: bold;
}

a { 
  color: $monad-blue;
  text-decoration: none; 
}
a:hover, a:focus {
    color: $brand-primary;
}

#sitedesc_image {
    width: 354px;
    height: 60px;
    max-width: 100%; 
    background: transparent url(/assets/site/images/yaosb.png) no-repeat left top;
    background-size: 100% auto;
    float: none;
    margin: 0 auto;  
}

.blog-post {
    padding-top: 20px;
}


.main-content img {
    @include img-fluid;
}

.layout-sidebar .card-header {
    padding: 0.50rem 1rem 0rem;
}

.layout-sidebar .card {
    border: 1px solid #2C3E50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.layout-sidebar .card-header {
    @include gradient-striped(rgba(255,255,255,.05), 45deg);  
}

.layout-sidebar .card:hover {
    border: 1px solid #f7d316;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.layout-sidebar .card-body {
  padding: 15px; }

.layout-sidebar .card {
}


.meta-item { margin-bottom: 15px; }
.highlight { margin-bottom: 15px; }

.main-content table th,
.main-content table td {
  padding: 5px;
  border: 1px solid #ddd;
}

// ---------------------------------------------------------------------
// pages

// pages/index.html
// using bootstrap color

.post-list {
  .meta-item {
    a {
      text-color: $brand-primary;
    }
  }
}

.read-more a:after {
    content: " »"
} 
