// ---------------------------------------------------------------------

// _material_$color.scss
// by epsi

// ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----
// google material $colors
// https://material.io/guidelines/style/$color.html
  
$colWhite:	#ffffff;
$colBlack:	#000000;

 $colGrey50:	#fafafa;
$colGrey100:	#f5f5f5;
$colGrey200:	#eeeeee;
$colGrey300:	#e0e0e0;
$colGrey400:	#bdbdbd;
$colGrey500:	#9e9e9e;
$colGrey600:	#757575;
$colGrey700:	#616161;
$colGrey800:	#424242;
$colGrey900:	#212121;

  $colRed50:	#ffebee;
 $colRed100:	#ffcdd2;
 $colRed200:	#ef9a9a;
 $colRed300:	#e57373;
 $colRed400:	#ef5350;
 $colRed500:	#f44336;
 $colRed600:	#e53935;
 $colRed700:	#d32f2f;
 $colRed800:	#c62828;
 $colRed900:	#b71c1c;
$colRedA100:	#ff8a80;
$colRedA200:	#ff5252;
$colRedA400:	#ff1744;
$colRedA700:	#d50000;

  $colPink50:	#fce4ec;
 $colPink100:	#f8bbd0;
 $colPink200:	#f48fb1;
 $colPink300:	#f06292;
 $colPink400:	#ec407a;
 $colPink500:	#e91e63;
 $colPink600:	#d81b60;
 $colPink700:	#c2185b;
 $colPink800:	#ad1457;
 $colPink900:	#880e4f;
$colPinkA100:	#ff80ab;
$colPinkA200:	#ff4081;
$colPinkA400:	#f50057;
$colPinkA700:	#c51162;

  $colIndigo50:	#e8eaf6;
 $colIndigo100:	#c5cae9;
 $colIndigo200:	#9fa8da;
 $colIndigo300:	#7986cb;
 $colIndigo400:	#5c6bc0;
 $colIndigo500:	#3f51b5;
 $colIndigo600:	#3949ab;
 $colIndigo700:	#303f9f;
 $colIndigo800:	#283593;
 $colIndigo900:	#1a237e;
$colIndigoA100:	#8c9eff;
$colIndigoA200:	#536dfe;
$colIndigoA400:	#3d5afe;
$colIndigoA700:	#304ffe;

  $colBlue50:	#e3f2fd;
 $colBlue100:	#bbdefb;
 $colBlue200:	#90caf9;
 $colBlue300:	#64b5f6;
 $colBlue400:	#42a5f5;
 $colBlue500:	#2196f3;
 $colBlue600:	#1e88e5;
 $colBlue700:	#1976d2;
 $colBlue800:	#1565c0;
 $colBlue900:	#0d47a1;
$colBlueA100:	#82b1ff;
$colBlueA200:	#448aff;
$colBlueA400:	#2979ff;
$colBlueA700:	#2962ff;

  $colYellow50:	#fffde7;
 $colYellow100:	#fff9c4;
 $colYellow200:	#fff59d;
 $colYellow300:	#fff176;
 $colYellow400:	#ffee58;
 $colYellow500:	#ffeb3b;
 $colYellow600:	#fdd835;
 $colYellow700:	#fbc02d;
 $colYellow800:	#f9a825;
 $colYellow900:	#f57f17;
$colYellowA100:	#ffff8d;
$colYellowA200:	#ffff00;
$colYellowA400:	#ffea00;
$colYellowA700:	#ffd600;

  $colTeal50:	#e0f2f1;
 $colTeal100:	#b2dfdb;
 $colTeal200:	#80cbc4;
 $colTeal300:	#4db6ac;
 $colTeal400:	#26a69a;
 $colTeal500:	#009688;
 $colTeal600:	#00897b;
 $colTeal700:	#00796b;
 $colTeal800:	#00695c;
 $colTeal900:	#004d40;
$colTealA100:	#a7ffeb;
$colTealA200:	#64ffda;
$colTealA400:	#1de9b6;
$colTealA700:	#00bfa5;

  $colGreen50:	#e8f5e9;
 $colGreen100:	#c8e6c9;
 $colGreen200:	#a5d6a7;
 $colGreen300:	#81c784;
 $colGreen400:	#66bb6a;
 $colGreen500:	#4caf50;
 $colGreen600:	#43a047;
 $colGreen700:	#388e3c;
 $colGreen800:	#2e7d32;
 $colGreen900:	#1b5e20;
$colGreenA100:	#b9f6ca;
$colGreenA200:	#69f0ae;
$colGreenA400:	#00e676;
$colGreenA700:	#00c853;

  $colOrange50:	#fff3e0;
 $colOrange100:	#ffe0b2;
 $colOrange200:	#ffcc80;
 $colOrange300:	#ffb74d;
 $colOrange400:	#ffa726;
 $colOrange500:	#ff9800;
 $colOrange600:	#fb8c00;
 $colOrange700:	#f57c00;
 $colOrange800:	#ef6c00;
 $colOrange900:	#e65100;
$colOrangeA100:	#ffd180;
$colOrangeA200:	#ffab40;
$colOrangeA400:	#ff9100;
$colOrangeA700:	#ff6d00;

  $colDeepOrange50:	#fbe9e7;
 $colDeepOrange100:	#ffccbc;
 $colDeepOrange200:	#ffab91;
 $colDeepOrange300:	#ff8a65;
 $colDeepOrange400:	#ff7043;
 $colDeepOrange500:	#ff5722;
 $colDeepOrange600:	#f4511e;
 $colDeepOrange700:	#e64a19;
 $colDeepOrange800:	#d84315;
 $colDeepOrange900:	#bf360c;
$colDeepOrangeA100:	#ff9e80;
$colDeepOrangeA200:	#ff6e40;
$colDeepOrangeA400:	#ff3d00;
$colDeepOrangeA700:	#dd2c00;
