/* ---------------------------------------------------------------------
// _layout

// page.html, post.html
*/

.maxwidth {
   margin-right: auto;
   margin-left: auto;
   max-width: 1366px; /* or 1360px */
}

.layout-base {
  padding-top: 20px;
}
