.navbar-fixed-top {
  border-bottom: 1px solid black;
}

.navbar-default {

  img {
    width:  48px;
    height: 48px;
    margin-top: -15px;
  }

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));

  background: $yellow-makara url("../images/stripe-glossy/00.png") left top repeat-x;
//  @include gradient-striped(rgba(255,255,255,.35), 45deg);

  ul.navbar-nav li a:hover,
  ul.navbar-nav li.dropdown.open a.dropdown-toggle,  
  ul.navbar-nav li a:focus,
  div.navbar-header:hover {
    background: $brand-primary url("../images/stripe-glossy/00.png") left top repeat-x;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2); 
  }

  ul.navbar-nav li:hover a,
  div.navbar-header:hover a {
    color: white;   
  }  

  ul.navbar-nav li.dropdown li a {
    background-color: white;
    color:  black;  
  }

  ul.navbar-nav li.dropdown li:hover a {
    background-color: $brand-primary;
    color: white;
  }    
  
}

.navbar-brand {
  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: 0;
    }
  }
}

.navbar-form {
  .form-control { 
    border: 1px solid $gray-dark; 
  }
  
  .form-control:hover { 
    border: 1px solid $gray-light; 
  }  
}

.navbar:hover,
.panel,
.well {
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);  
}

// ---------------------------------------------------------------------
// 

#lay_top {
  display: none;
}

@media (min-width: 768px) {
  #lay_top {
    display: block;
  }
}

#lay_top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;  
  padding-top: 53px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  
}

#lay_top {
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 5px #888;
    border-top:1px solid #fff;
    border-bottom: 2px solid #007eae;

    background: #000;
    color: white;
    font-size: 12px;    
    text-align:left;
    
    @include gradient-striped(rgba(255,255,255,.15), 45deg);
}

// Fix div p, unwanted margin 
div#lay_top p, div#lay_top h3 {
    margin: 0 .25em;
    padding: .25em 0;
}
