.row {
   height: 100%;
}

.column:before, .column:after {
    content: "";
    display: table;
}

.column:after {
    clear: both;
}

#sidebar {
    background: transparent;
    
    color: $monad-blue; 
    a { color: black; }
    
    li:hover {
      color: $brand-primary;
    }  
    li a:hover { color: $monad-blue; }
}

#sidebar li a:hover {
    background: transparent;
}

#sidebar {
/*  background-color: #eee;*/
    padding-left: 0;
    float: left;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

#sidebar, #main {  
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#sidebar {
   min-width: 235px;
   min-height: 0;
}

@media screen and (min-width: 768px) {

    #sidebar {
        min-height: 100%;
    }

}

#sidebar {
    font-size: 15px;
}

#sidebar ul > li {
    @include list-unstyled;
    margin: 5px 0px 10px 5px;    
}

#sidebar ul li a {
    display: inline;
}  

#sidebar ul > li > ul > li {
    @include list-unstyled;
    margin: 5px 0px 10px -20px;    
}

#sidebar li.active > a {
  font-weight: bold;
}
