/*
ul.nav-sidebar {
  padding-top: 0px;
  margin-bottom: 0px;

  li a {
    background: $yellow-makara url("../images/stripe-plain/00.png") left top repeat;
    color: black;
  }
  
  li.active a {
    background: $brand-primary url("../images/stripe-plain/00.png") left top repeat;
    color: white;
  } 

  li a:hover {  
    border-bottom: 1px solid black;
  }  
}
*/

.row {
   height: 100%;
}

.column:before, .column:after {
    content: "";
    display: table;
}

.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

#sidebar, #main {  
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#sidebar {
   min-width: 235px;
   min-height: 0;
}

@media screen and (min-width: 768px) {

    #sidebar {
        min-height: 100%;
    }

}

#sidebar {
    font-size: 15px;
}

#sidebar ul > li {
    @include list-unstyled;
    margin: 5px 0px 10px 5px;    
}

#sidebar ul li a {
    display: inline;
}  

#sidebar ul > li > ul > li {
    @include list-unstyled;
    margin: 5px 0px 10px -20px;    
}


/*
#sidebar ul li:before {
    font-family: 'FontAwesome';
    margin: 0 5px 0 -20px;
    
    content: '\f054';
    color: $gray-base;
    width: 20px;      
}  
*/
