ul.nav-sidebar {
  padding-top: 0px;
  margin-bottom: 0px;

  li a {
    background: $yellow-makara url("../images/stripe-plain/00.png") left top repeat;
    color: black;
  }
  
  li.active a {
    background: $brand-primary url("../images/stripe-plain/00.png") left top repeat;
    color: white;
  } 

  li a:hover {  
    border-bottom: 1px solid black;
  }  
}
