// ---------------------------------------------------------------------
// _includes

// pagination.html, pagination-better.html, post.html

.pagination {
  text-align: center;
  
  // always show
  .simple {
    display: inline-block;
  }
  
  li a.page-item {
    border: 1px solid $monad-blue;
  }

  li span.page-item {
    background-color: $yellow-makara;
    border: 1px solid $brand-primary;     
  }

  li.current-page span.page-item {
    border: 1px solid $brand-primary; 
  }

  li:hover a.page-item {
    color: white;
    border: 1px solid $yellow-makara;    
    box-shadow: 2px 2px 2px rgba(0,0,0,.2); 
  }  
  
  li.blog_next, li.blog_previous {
    display: inline-block;
  }
  
  li.inactive span {
    background-color: white;
    color: $gray;
    border: 1px solid $monad-blue;
  }  

  li.next a, li.previous a,
  li.blog_next a, li.blog_previous a {
    background-color: $pages-item-background;
    color: $monad-blue;
    border: 1px solid $monad-blue;
  }

  li.next:hover a, li.previous:hover a,
  li.blog_next:hover a, li.blog_previous:hover a {
    background-color: $brand-primary;
    color: white;
    border: 1px solid $yellow-makara;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);    
  } 
  
  li.pages-indicator span {
    background-color: transparent;
    color: $monad-blue;  
  }
  
  .previous span:after {
    content: " previous"
  }

  .next span:before {
    content: "next "
  } 
}
