
// ---------------------------------------------------------------------
// stripe

.stripe-01 {
    background: transparent url(../images/stripe-fade/01.png) repeat-x left top;
}

.stripe-02 {
    background: transparent url(../images/stripe-fade/02.png) repeat-x left top;
}

.stripe-03 {
    background: transparent url(../images/stripe-fade/03.png) repeat-x left top;
}

.stripe-04 {
    background: transparent url(../images/stripe-fade/04.png) repeat-x left top;
}

.stripe-05 {
    background: transparent url(../images/stripe-fade/05.png) repeat-x left top;
}

.stripe-06 {
    background: transparent url(../images/stripe-fade/06.png) repeat-x left top;
}

.stripe-07 {
    background: transparent url(../images/stripe-fade/07.png) repeat-x left top;
}

.stripe-08 {
    background: transparent url(../images/stripe-fade/08.png) repeat-x left top;
}

.stripe-09 {
    background: transparent url(../images/stripe-fade/09.png) repeat-x left top;
}

.stripe-10 {
    background: transparent url(../images/stripe-fade/10.png) repeat-x left top;
}

.stripe-11 {
    background: transparent url(../images/stripe-fade/11.png) repeat-x left top;
}

.stripe-12 {
    background: transparent url(../images/stripe-fade/12.png) repeat-x left top;
}
