// ** Pagination only

$brand-primary:          #2C3E50 !default;
$gray:                   #95a5a6 !default;   // #555

// Additional Color: should be removed later

$yellow-makara:    #f7d316;
$monad-blue:       #2980b9;

// ** Main
$brand-primary:          #2C3E50 !default;
$brand-info:             #3498DB !default;
$brand-warning:          #F39C12 !default;

$gray:                   #95a5a6 !default;   // #555
$gray-dark:              #7b8a8b !default;   // #333
$gray-light:             #b4bcc2 !default;   // #999

$pages-item-background:     #eee;
