// Variables

$yellow: #f7d316; // makara
$blue:   #2980b9; // monad
$dark:   darken($blue, 35%);
$gray:   #7b8a8b; 
$light:  #f8f9fa;

$border-radius: 4px;
$border-color:  $dark; // no default

$enable-gradients: true;

$border-radius:       0.625rem;
$border-radius-lg:    0.875rem;
$border-radius-sm:    0.375rem;
$badge-border-radius: 0.250rem;
