  {% comment %}
  https://www.itzami.com/blog/boost-your-css-animations-with-intersection-observer-api
  {% endcomment %}

  <script type="text/javascript">
  const menuToObserve = document.querySelectorAll(".animate__observe__menu");
  const archiveToObserve = document.querySelectorAll(".animate__observe__archive");

  let menuObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.intersectionRatio > 0) {
        entry.target.classList.add('animate__rollIn');
      } else {
        entry.target.classList.remove('animate__rollIn');
      }
    });
  });

  let archiveObserver = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.intersectionRatio > 0) {
        entry.target.classList.add('animate__wobble');
      } else {
        entry.target.classList.remove('animate__wobble');
      }
    });
  });

  menuToObserve.forEach((element) => {
    menuObserver.observe(element);
  });
  archiveToObserve.forEach((element) => {
    archiveObserver.observe(element);
  });
  </script>
