{% capture spaceless %}

  <!-- description -->
  {% if page.excerpt %}
    {% assign description = page.excerpt | strip_html %}
  {% else %}
    {% assign description = site.description | strip %}
  {% endif %}

  {% assign description = description
                        | newline_to_br
                        | strip_newlines
                        | replace: '<br />', ' '
                        | strip_html
                        | strip
                        | truncatewords: 150 %}
{% endcapture %}

<head>
    {% include meta/html.html %}
    {% comment %}<!-- Required meta tags -->{% endcomment %}
    <title>{{ (page.title | default: site.title) | escape }}</title>
  
    {% comment %}<!-- Bootstrap CSS -->{% endcomment %}
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/assets/vendors/revealjs/css/reveal.css" >
    <link rel="stylesheet" type="text/css"
          href="{{ site.baseurl }}/assets/vendors/revealjs/css/theme/league.css" >

    {% comment %}<!-- Custom CSS -->{% endcomment %}
    {% if layout.customcss %}
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ layout.customcss}}">
    {% endif %}
    {% if page.customcss %}
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ page.customcss}}">
    {% endif %}

    {% comment %}<!-- Stuff -->{% endcomment %}        
    <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="alternate" type="application/rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Yet Another Open Source Blog" />

    {% include meta/seo.html %}
    {% include meta/opengraph.html %}
    {% include meta/twitter.html %}
</head>

