<head>
    {% include meta/html.html %}
    {% comment %}<!-- Required meta tags -->{% endcomment %}
    <title>{{ (page.title | default: site.title) | escape }}</title>
  
    {% comment %}<!-- Bootstrap CSS -->{% endcomment %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/themes/oriclone/css/bootstrap.css" >
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/themes/oriclone/css/fontawesome.css" >
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/themes/oriclone/css/main.css" >

    {% comment %}<!-- Custom CSS -->{% endcomment %}
    {% if layout.customcss %}
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ layout.customcss}}">
    {% endif %}
    {% if page.customcss %}
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ page.customcss}}">
    {% endif %}

    {% comment %}<!-- Stuff -->{% endcomment %}        
    <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="alternate" type="application/rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Yet Another Open Source Blog" />

    {% include meta/seo.html %}
    {% include meta/opengraph.html %}
    {% include meta/twitter.html %}
</head>

