
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ site.baseurl }}/assets/vendors/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/vendors/js/popper.min.js"></script>

{% if site.comments %}
<script id="dsq-count-scr" src="//yoursite.disqus.com/count.js" async></script>
{% endif %}

  {% if page.customjs %}
    {% for js in page.customjs %}
      <script src="{{ site.baseurl }}{{ js }}"></script>
    {% endfor %}
  {% endif %}
