



          <!--ul class="nav nav-sidebar"-->
          <ul class="nav" id="menu">
        {% for link in include.menusource %}
        
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.url %}
          {% endif %}
          
          {% if link.url == page.url%}
          <li class="active">{% else %}<li>
          {% endif %}
            <span class="fa fa-list"></span>
            <a class="page-link" href="{{ domain }}{{ link.url }}" 
              {% if link.url contains 'http' %}target="_blank"{% endif %}>
              <span class="collapse in">{{ link.title }}</span>
              {% if link.url == page.url%}
              <span class="sr-only">(current)</span>
              {% endif %}
            </a>
            {% if link.submenu %}
            <ul>
               {% for sublink in link.submenu %}
               
                 {% if sublink.url contains 'http' %}
                   {% assign domain = '' %}
                 {% else %}
                   {% assign domain = site.url %}
                 {% endif %}
                 
                 {% if sublink.url == page.url%}
                 <li class="active">{% else %}<li>
                 {% endif %}
                    <span class="fa fa-chevron-right"></span>
                    <a class="page-link" href="{{ domain }}{{ sublink.url }}" 
                      {% if sublink.url contains 'http' %}target="_blank"{% endif %}>
                      <span class="collapse in">{{ sublink.title }}</span>
                      {% if sublink.url == page.url%}
                      <span class="sr-only">(current)</span>
                      {% endif %}
                    </a>
                    {% if sublink.submenu %}
                    <ul>
                       {% for subsublink in sublink.submenu %}
               
                         {% if subsublink.url contains 'http' %}
                           {% assign domain = '' %}
                         {% else %}
                           {% assign domain = site.url %}
                         {% endif %}
                 
                         {% if subsublink.url == page.url%}
                         <li class="active">{% else %}<li>
                         {% endif %}
                            <span class="fa fa-asterisk"></span>
                            <a class="page-link" href="{{ domain }}{{ subsublink.url }}" 
                              {% if subsublink.url contains 'http' %}target="_blank"{% endif %}>
                              <span class="collapse in">{{ subsublink.title }}</span>
                              {% if subsublink.url == page.url%}
                              <span class="sr-only">(current)</span>
                              {% endif %}
                            </a>
                         </li>
               
                       {% endfor %}
                    </ul>
                    {% endif %}
                 </li>
               
               {% endfor %}
            </ul>
            {% endif %}
          </li>
        {% endfor %}
          </ul>
