---
layout: page
title: All Tags
excerpt: "An archive of posts sorted by tag."
search_omit: true
---

{% capture spaceless %}
  {% assign tag_array = "" | split: "|" %}
  {% for tag in site.tags %}
    {% assign tag_first = tag | first %}
    {% assign tag_array = tag_array | push: tag_first %}
  {% endfor %}
  
  {% assign tag_array = tag_array | sort %}
{% endcapture %}

<div class="tag-box inline">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% assign this_word = tag_array[item] | strip_newlines %}
    <a href="#{{ this_word }}"><span class="label label-tag">{{ this_word }} 
    <span class="tag-count">{{ site.tags[this_word].size }}</span></span></a>
  {% endunless %}{% endfor %}
</div>
<br/>

<div>
{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% assign this_word = tag_array[item] | strip_newlines %}
  <div class ="anchor-target tag-word" id="{{ this_word }}">
    <span class="fa fa-tag"></span> {{ this_word }}</div>
  {% for post in site.tags[this_word] %}{% if post.title != null %}
      <div class="tag-post-item container-fluid">      
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <div class="post-time pull-right">          
          <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%b %-d, %Y" }}</time>
          <span class="fa fa-calendar"></span>
        </div>      
      </div>           
  
  {% endif %}{% endfor %}
{% endunless %}{% endfor %}
</div>
