{% include widget/event.html %}

{% include widget/friends.html %}
{% include widget/categories.html %}

{% include widget/archives.html %}
{% include widget/related-posts.html %}
{% include widget/tags.html %}

{% include widget/archives-gitlab.html %}
{% include widget/archives-bitbucket.html %}

{% include widget/guest-house.html %}
{% include widget/oto-spies.html %}

{% comment %}
  {% include widget/friends.html %}
  {% include widget/archives-gitlab.html %}
  {% include widget/archives-bitbucket.html %}

  {% include widget/categories.html %}
  {% include widget/tags.html %}

  {% include widget/recent-posts.html %}
  {% include widget/related-posts.html %}

  {% include widget/affiliates.html %}
  {% include widget/oto-spies.html %}
{% endcomment %}
