
  <header class="main-header mb-4"> 
      <div class="main_title"> 
        <div class="calendar calendar-icon--{{ page.date | date: "%m" }}">
          <div class="calendar-day">{{ page.date | date: "%d" }}</div>
        </div>
        <h2 itemprop="name headline">
          <a href="{{ site.url | append:site.baseurl | append:page.url }}"
          >{{ page.title }}</a></h2>
      </div>
      <div class="clearfix"></div>
      <div class="meta container-fluid">
        {% if page.author %}
        <span class="meta_author">
            <span class="fa fa-user"></span>
            &nbsp;
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span></span>
        </span>
        {% endif %}  
        <div class="meta_time float-left">
          {% include post/time-elapsed.html %}
        </div>
        <div class="meta_tags float-right" id="meta_tags">
          {% for tag in page.tags %}
            <a href="{{ site.url | append:site.baseurl }}/pages/tag#{{ tag }}">
              <span class="badge badge-dark"><span class="fa fa-tag"></span> {{ tag }}</span></a>
          {% endfor %}
        </div>       
        <div class="meta_cats float-right" id="meta_cats">
          {% for cat in page.categories %}
            <a href="{{ site.url | append:site.baseurl }}/pages/category#{{ cat }}">
              <span class="badge badge-light"><span class="fa fa-folder"></span> {{ cat }}</span></a>
          {% endfor %}
          &nbsp;
        </div>
      </div>
  </header>

  <div class="clearfix"></div>
