
<script src="{{ site.baseurl }}/assets/site/js/custom-resizer.js"></script>
<section class="m-y-5 is-hidden-mobile">
  <button id="left_resizer"
          class="button is-outlined is-pulled-left
                 left_resizer_active">
    <span class="icon is-small">
      <i class="fas fa-angle-double-left"></i>
    </span>
  </button>
  <button id="right_resizer"
          class="button is-outlined is-pulled-right
                 right_resizer_active">
    <span class="icon is-small">
      <i class="fas fa-angle-double-right"></i>
    </span>
  </button>
  <div class="is-clearfix"></div>
</section>
