<div class="card shadow-hover mb-4">
  <div class="card-header bg-light text-dark">
    <p class="card-title float-left">Test Device</p>
    <span class="fa fa-archive float-right"></span>
    <div class="clearfix"></div>
  </div>
  <div class="card-body">

    <div id="users-device-size">
      <div id="xs" class="d-block d-sm-none">xs</div>
      <div id="sm" class="d-none d-sm-block d-md-none">sm</div>
      <div id="md" class="d-none d-md-block d-lg-none">md</div>
      <div id="lg" class="d-none d-lg-block d-xl-none">lg</div>
      <div id="xl" class="d-none d-xl-block">xl</div>
    </div>

  </div>
</div>
