<!DOCTYPE html>
<html>

<head>
  {% include site/head.html %}
</head>

<body>
  {% include service/google-analytics.html %}
  {% include service/yandex-metrica.html %}
    
  <!-- header -->
  {% include site/header.html %}

  <!-- main -->
  <div class="columns is-8 layout-base maxwidth">
    {{ content }}
  </div>

  {% if page.layout == 'post' %}
    {% include post/disqus.html %}
  {% endif %}

  <!-- footer -->
  {% include site/footer.html %}
  {% include site/scripts.html %}
</body>

</html>

