---
layout: default
# customcss: assets/themes/oriclone/css/bootstrap-custom.css
---

    <main role="main" class="container-fluid maxwidth">

        <div class="row">
            <div class="col-md-8">

              <div id="sitedesc-image"></div>

              <article class="rounded-box">

                <header class="main-header">
                  <h2 class="main_title">{{ page.title }}</h2>
                </header>

                <div class="main-content">
                  {{ content }}
                </div>

              </article>

            </div>
            <!-- /.col-lg-8 -->
            
            <div class="col-md-4">
            {% include page/sidebar.html %}
            </div>
            <!-- /.col-lg-4 -->
            
        </div>

    </main><!-- /.container-fluid -->
