---
layout: default
---
    <div class="container-fluid">

      <div class="col-xs-12 visible-xs">
          &nbsp;&nbsp;<a href="#" id="menu-toggle"><i class="fa fa-navicon fa-2x"></i></a>
      </div>
        
      <div class="row">
        <!-- sidebar -->
        <div class="column col-xs-11 col-sm-4 col-md-3 hidden-xs" id="sidebar">
        {% include layout/sidemenu.html 
           menusource = site.data.navigation_wm
        %}
        </div><!-- /sidebar -->
        
        <!-- main right col -->
        <div class="column col-xs-12 col-sm-8 col-md-9" id="main"> 
<div id="sitedesc-image"></div>
<article class="post well">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
        </div> <!-- /main -->
        
      </div><!-- /.row -->

    </div><!-- /.container -->


    <!-- Menu Toggle Script -->
    <script>
    $('#menu-toggle').click(function() {
        $('#sidebar').toggleClass('hidden-xs');  
    });
    </script>
