---
layout: default
---
    <main role="main" class="container-fluid maxwidth">

      <div class="col-xs-12 visible-xs-block">
          &nbsp;&nbsp;
          <a href="#" id="menu-toggle">
            <i class="fa fa-navicon fa-2x"></i>
          </a>
      </div>
        
      <div class="row">
        <!-- sidebar -->
        <div class="column col-xs-11 col-sm-4 col-md-3 hidden-xs" id="sidebar">
        {% include layout/sidemenu.html 
           menusource = site.data.navigation_wm
        %}
        </div><!-- /sidebar -->
        
        <!-- main right col -->
        <div class="column col-xs-12 col-sm-8 col-md-9" id="main"> 
<div id="sitedesc-image"></div>
<article class="rounded-box stripe--{{ page.date | date: '%m' }}" 
  itemscope itemtype="http://schema.org/BlogPosting">

  {% include post/header.html %}
  <div class="main-content" itemprop="articleBody">
    {% include service/google-adsense.html %}
    {{ content }}
  </div>
      

  <hr/>
  {% include post/navigation.html %}

  
</article>

{% include post/footer.html %}
        </div><!-- /main -->
             
      </div><!-- /.row -->
        
      <div class="row">
          <div class="col-xs12 col-md-12">        
              {% if site.comments %}
              {% include service/disqus-comments.html %}
              {% include service/muut-comments.html %}
              {% endif %}
          </div><!-- /.col-md-8 -->
            
      </div><!-- /.row -->

    </main><!-- /.container-fluid -->


    <!-- Menu Toggle Script -->
    <script>
    $('#menu-toggle').click(function() {
        $('#sidebar').toggleClass('hidden-xs');  
    });
    </script>
