---
layout: columns-double

# override property
color_main  : blue
color_aside : teal

# layout chuncks
blog_header     : post/blog-header.html
blog_footer     : post/blog-footer.html
aside_content   : post/aside-content.html
---

{% include post/resizer.html %}

{% if page.toc %}
  {% include {{ page.toc }} %}
{% endif %}

{% include service/google-adsense.html %}
<br/>

<div class="blog-content">
{{ content }}
</div>

<br/>
{% include service/google-adsense.html %}

<br/>
{% include post/navigation.html %}
