---
layout: default
---
    <div class="container-fluid maxwidth">

        <div class="row">
            <div class="col-md-8">

<div id="sitedesc-image"></div>
<article class="post well stripe-{{ page.date | date: '%m' }}" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">  
      <h1 class="post-title" itemprop="name headline">
        <a href="{{ site.url | append:site.baseurl | append:page.url }}">{{ page.title }}</a></h1>
      <div class="post-meta container-fluid">
        {% if page.author %}
        <span class="post-author">
            <span class="fa fa-user"></span>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span></span>
        </span>
        {% endif %}  
        <div class="post-time pull-left">
          {% include post/time-elapsed.html %}  
        </div>      
        <div class="post-tags pull-right" id="tags">
          {% for tag in page.tags %}
            <a href="{{ site.url | append:site.baseurl }}/pages/tag#{{ tag }}">
              <span class="label label-tag"><span class="fa fa-tag"></span> {{ tag }}</span></a>
          {% endfor %}
        </div>
      </div>    
    
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
      

  <hr/>    

  <ul class="pagination center-block container-fluid" 
      role="navigation" aria-labelledby="pagination-label">

      {% if page.previous %}    
      <li class="previous pull-left">
        <a class="pagination-item" 
           href="{{ site.url }}{{ page.previous.url }}" 
           title="{{ page.previous.title }}">&laquo; Previous</a>
      </li>
      {% endif %}

      {% if page.next %}    
      <li class="next pull-right">
        <a class="pagination-item" 
           href="{{ site.url }}{{ page.next.url }}" 
           title="{{ page.next.title }}">Next &raquo;</a>
      </li>
      {% endif %}
          
  </ul>  
   

  
</article>

{% include post/chunk-footer.html %}




                
            </div><!-- /.col-md-8 -->
            
            <div class="col-md-4">
            {% include chunk-post-sidebar.html %}
            </div><!-- /.col-md-4 -->
            
        </div><!-- /.row -->
        
        <div class="row">
            <div class="col-md-8">        
{% include service/disqus-comments.html %}
{% include service/muut-comments.html %}
            </div><!-- /.col-md-8 -->
            
        </div><!-- /.row -->

    </div><!-- /.container -->
