---
layout: default
# customcss: assets/themes/oriclone/css/bootstrap-custom.css
---

    <main role="main" class="container-fluid maxwidth">
        <div class="row">
            <div class="col-md-8">

              <div id="sitedesc-image"></div>

              <div class="blog-post">
                <article class="rounded-box stripe--{{ page.date | date: '%m' }}" 
                         itemscope itemtype="http://schema.org/BlogPosting">

                  {% include post/header.html %}
                  <div class="main-content" itemprop="articleBody">
                    {% include service/google-adsense.html %}
                    {{ content }}
                  </div>  

                  <hr/>
                  {% include post/pagination.html %}

                </article>  
              </div><!-- /.blog-post -->

              {% include post/footer.html %}

            </div><!-- /.col-md-8 -->
            
            <div class="col-md-4">
              {% include post/sidebar.html %}
            </div><!-- /.col-md-4 -->
            
        </div><!-- /.row -->
        
        <div class="row">
            <div class="col-xs12 col-md-12">        
              {% if site.comments %}
              {% include service/disqus-comments.html %}
              {% include service/muut-comments.html %}
              {% endif %}
            </div><!-- /.col-md-8 -->

        </div><!-- /.row -->

    </main><!-- /.container-fluid -->
