---
layout: default
# customcss: assets/themes/oriclone/css/bootstrap-custom.css

opengraph:
  image: /assets/site/images/topics/post-default.png
---

<div class="row layout-base">
  <main role="main" class="col-md-8">
    <div id="sitedesc_image"></div>

    <div class="blog-main p-3 mb-3 stripe--{{ page.date | date: '%m' }}
                bg-white rounded border border-dark shadow-hover">
      <div class="blog-post" 
           itemscope itemtype="http://schema.org/BlogPosting">
        {% include post/header.html %}

        <article class="main-content" itemprop="articleBody">
          {% include service/google-adsense.html %}
          {{ content }}
        </article>

        {% include post/navigation.html %}
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    {% include post/footer.html %}
  </main>

  <aside class="col-md-4">   
    {% include post/sidebar.html %}
  </aside>
</div><!-- .row -->

<div class="row layout-base">
  <div class="col-xs12 col-md-12">        
    {% if site.comments %}
    {% include service/disqus-comments.html %}
    {% include service/muut-comments.html %}
    {% endif %}
  </div><!-- /.col-md-12 -->
</div><!-- .row -->

